/* GLOBAL */

body {
	margin: 0;
	padding: 0;
	font-size: 20px;
	overflow: hidden;
	user-select: none;
	font-family: 'Style Script', cursive;
	background-image: url("../Assets/Images/background.gif");
}


/* WELCOME OVERLAY */

#welcome_overlay {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	position: fixed;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	transition: 1s ease opacity;
}

#welcome_banner {
	font-size: 6em;
	cursor: pointer;
	color: rgb(253, 39, 153);
	transition: 0.3s ease transform;
}
#welcome_banner div {
	animation: stretch 1s ease;
	animation-iteration-count: infinite; 
	text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}
#welcome_banner:hover {
	transform: scale(1.2);
	text-shadow: 6px 6px 10px rgba(0,0,0,0.5);
}
#welcome_banner:active {
	transform: scale(0.9);
	animation-play-state: paused;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	transition: 0.1s ease-out transform;
}

#welcome_caption {
	font-size: 1.5em;
	color: rgb(253, 39, 153);
}


/* MAIN CONTENT */

#main {
	opacity: 0;
	margin: 4em 0;
	text-align: center;
	transition: 1s ease;
}

#heading {
	font-size: 10vw;
	margin-bottom: 2rem;
	color: rgb(253, 39, 153);
	text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

#content img {
	margin: auto;
	display: block;
	max-width: 90%;
	border-radius: 1em;
	box-sizing: border-box;
	border: 5px dashed rgb(253, 39, 153);
	box-shadow: 3px 3px 20px 10px rgba(0,0,0,0.3);
	transition: 0.3s ease;
}
#content img:not(:last-child) 	{ 
	margin-bottom: 2em;
}

@keyframes stretch {
    0% {transform: scale(1,1);}
    50% {transform: scale(1.1, 0.9);}
    100% {transform: scale(1, 1);}
}


/* MEDIA QUERIES */

@media only screen and (pointer: fine) {
	#welcome_banner:hover div {
		animation-play-state: paused;
	}
	#content img:hover {
		transform: scale(1.1);
	}
}

@media only screen and (max-width: 620px) {
	#welcome_banner {
		font-size: 19vw;
	}
}